# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.RPG.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kuki\新的document\RPG\.idea\.idea.RPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
